@import url(https://fonts.google.com/specimen/Montserrat?preview.text=Minu%20töölaud&preview.text_type=custom);
body {
    font-family: 'Montserrat', sans-serif;
}

.flex-master {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    height: 10vh;
    font-family: "cursive", cursive;
    align-items: center;
    padding: 0 4vw 0 2vw;
    justify-content: space-between;
}

.header-item {
    display: flex;
    align-items: flex-end;
}

.company-name {
    cursor: pointer;
    margin-left: 4vw;
}

#company-logo {
    height: 9vh;
    cursor: pointer;
}

nav {
    display: flex;
    height: 4vh;
}

.nav-item {
    margin: 0 3vw;
    color: black;
}

.naw-text {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
}

main {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    display: flex;
    flex: 1;
    background-image: url("@/assets/image/backgroundImage.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main-item {
    flex: 1;
}

footer {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}

.footer-item p {
    line-height: 40%;
    margin-top: 4.5%;
}

.social-media-icons {
    align-self: center;
    margin-left: 43vw;
}

.icon {
    color: black;
    margin: 0 1vw;
}

.home {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.login-master {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-item {
    margin: 2vh 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}
.register-item {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
}

.alert-master {
    display: flex;
    justify-content: center;
}

.error-master {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.user-master {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
    height: 100%;
}

.user-item {
    display: flex;
    flex-direction: column;
}

.user-item-image {
    margin: 1vh 0 4vh 0;
}

td {
    width: 13vw;
}

.dropdowns {
    width: 95%;
}

.dashboard-master {
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
    height: 100%;
    align-items: center;
}
.dashboard-width {
    width: 30%;
}

.dashboard-item-intro {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2%;
    justify-content: space-between;

}

.dashboard-item-item {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 3%;
}

.dashboard-item-profile {
    background-color: rgba(255, 255, 255, 0.9);
}

.dashboard-advertisements {
    overflow: auto;
    height: 33vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    flex-wrap: wrap;
}

.dashboard-advertisements-btn {
    display: flex;
    justify-content: flex-end;
}

.dashboard-feedback {
    overflow: auto;
    height: 20vh;
    width: 40vw;
    display: flex;
    padding: 1%;
    flex-direction: column;
}

.dashboard-feedback-btn {
    display: flex;
    justify-content: flex-end;
}

.user-item-item {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

.feedback-item {
    background-color: white;
    display: flex;
    margin: 1% 0;
}

.feedback-item-comment {
    flex: 7;
    margin-left: 3%;
}

.feedback-item-rating {
    flex: 1;
    margin-left: 5%;
}

.advertisement-view-master {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.advertisement-back {
    background: rgb(255, 255, 255, 0.8);
}

.county-city-dropdown-width{
    width: 44%;
}

.advertisement-view-item1 {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.advertisement-view-item1 h2 {
    margin-bottom: 5%;

}

.advertisement-view-item1 div {
}

.advertisement-view-item1 h2 {
    align-items: flex-start;
}

.advertisement-view-item2 {
    margin-left: 2%;
}

.advertisement-view-item3 {
    margin-top: 5%;
    margin-left: 2%;
}

.radio-label {
    margin-left: 1vw;
}

.advertisement-chore-header {
    align-self: flex-start;
    margin-top: 4%;
    margin-left: 2%;
}

.advertisement-chore-items {
    margin-left: 2%;
}

.advertisements-master {
    display: flex;
}

.advertisements-ads {
    width: 55vw;
    height: 66vh;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.9);
}

.advertisements-sort {
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-left: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}

.sort-arrow {
    cursor: pointer;
}

.sort-header {
    margin: 0 .5% 0 1%;
}

.advertisements-filter {
    margin: 5% 0 0 3%;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));



}

.advertisements-item {
    border-radius: 10%;
    width: 14vw;
    height: 26vh;
    margin: 3%;
    background: #a9cbcb;
    display: flex;
    align-items: flex-start;
    transform-style: preserve-3d;
    transition: 2s ease;
    justify-content: left;
}

#box:hover {
    border: 2px solid black;
    cursor: pointer;
}

.advertisements-item:hover {
    transform: rotateY(180deg) scale(1.2);
    z-index: 1;
}

.front,
.back {
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
    color: black;
    padding: 2%;
    display: flex;
    height: 100%;
    align-items: center;
}

.front-item {
    flex: 1;
}

#advertisement-image-id {
    float: left;
    margin: 3%;
    border-radius: 50%;
    overflow: hidden;
}

.front-item-text {
    line-height: 190%;
    margin-left: 3%;
}

.user-price {
    margin-top: 7%;
}

.rating {
    position: absolute;
    left: 70%;
    bottom: 0;
}

.user-name {
    margin-top: 3%;
    font-weight: bold;
    font-size: 110%;
}

.ad-modal-master {
    display: flex;
    flex-direction: column;
}

.ad-modal-profile {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4%;
}

.ad-modal-info {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 13vh;
}

.ad-modal-chores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 23vh;
}

.ad-modal-footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.delete-modal-footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.selected {
    color: #fff700;
}

.unselected {
    color: #888;
}

.user-text-background {
    background-color: rgb(255, 255, 255, 0.8);
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 30%;
    margin-right: 30%;

}
.city-county-dropdown {
    padding-right: 119px;
}

.advertisement-dropdown {
    padding-right: 90px;
}

.mailbox-master {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 5%;
}

.inbox {
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    width: 45%;
    margin-bottom: 3%;
}

.outbox {
    overflow: auto;
    background-color: wheat;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.9);
    width: 45%;
    margin-bottom: 15%;
}

.inbox-button {
    text-align: right;
    padding: 0 2vh;
}

.message-hover {
    cursor: pointer;
}

.message-hover:hover {
    border: 1px solid black;
}

.message-header {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.inbox td,
.outbox td {
    width: 20%;
}

.county-city-dropdown-width{
    width: 45%;
}

