@import url(https://fonts.google.com/specimen/Montserrat?preview.text=Minu%20töölaud&preview.text_type=custom);
body {
    font-family: 'Montserrat', sans-serif;
}

.flex-master {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    height: 10vh;
    font-family: "cursive", cursive;
    align-items: center;
    padding: 0 4vw 0 2vw;
    justify-content: space-between;
}

.header-item {
    display: flex;
    align-items: flex-end;
}

#company-logo {
    height: 9vh;
    cursor: pointer;
}

nav {
    display: flex;
    height: 4vh;
}

.nav-item {
    margin: 0 3vw;
}

.naw-text {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
}

main {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    display: flex;
    flex: 1;
    background-image: url("@/assets/image/backgroundImage.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main-item {
    flex: 1;
}

footer {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}

.footer-item p {
    line-height: 40%;
    margin-top: 5%;
    font-size: 72%;
}

.social-media-icons {
    align-self: center;
    margin-left: 43vw;
}

.icon {
    color: black;
    margin: 0 1vw;
}

.home {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    border-radius: 4px;
}

.login-master {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-item {
    margin: 2vh 0;
}

.black-item {
    color: black;
}

.reset-password-master {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.reset-item h3 {
    position: absolute;
    top: 20%;
    left: 40%;
}

.reset-item p {
    position: absolute;
    top: 38%;
    left: 37%;
}

.alert-master {
    display: flex;
    justify-content: center;
}

.error-master {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.user-master {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 100%;
    width: 51%;
    margin-left: 25%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));

}

.user-item {
    display: flex;
    flex-direction: column;
}

.user-item-image {
    margin: 1vh 0 4vh 0;
}

.user-item-table {
    margin-top: 15%;
}

.user-item-textarea {
    margin-top: 2%;
}

td {
    width: 100%;
}

.dropdowns {
    width: 100%;
}

.dashboard-master {
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
    height: 100%;
    align-items: center;
}

.profile-width {
    width: 30%;
}

.profile-intro {
    padding: 2%;
}

.dashboard-item-profile {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.dashboard-advertisements {
    overflow: auto;
    height: 33vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    flex-wrap: wrap;
}

.dashboard-advertisements-btn {
    display: flex;
    justify-content: flex-end;
}

.dashboard-feedback {
    overflow: auto;
    height: 20vh;
    width: 40vw;
    display: flex;
    padding: 1%;
    flex-direction: column;
    margin-bottom: 1%;
}

.dashboard-feedback-btn {
    display: flex;
    justify-content: flex-end;
}

.feedback-item {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    display: flex;
    margin: 1% 0;
}

.feedback-item-comment {
    flex: 7;
    margin-left: 3%;
}

.feedback-item-rating {
    flex: 1;
    margin-left: 5%;
}

.advertisement-view-master {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
    background: rgb(255, 255, 255, 0.4);
}

.ad-view-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2%;
}

.ad-view-radios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10%;
    width: 90%;
}

.advertisement-view-header {
    margin-bottom: 4%;
}

.advertisement-view-info {
    margin-left: 2%;
}

.advertisement-view-textarea {
    margin-top: 5%;
    margin-left: 2%;
}

.radio-label {
    margin-left: 1vw;
}

.chores-master {
    justify-content: space-evenly;
}

.advertisement-chore-header {
    align-self: flex-start;
    margin-left: 17%;
}

.advertisements-master {
    display: flex;
}

.advertisements-ads {
    width: 55vw;
    height: 66vh;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
    left: 30%;
}

.advertisements-sort {
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-left: 30%;
    width: 100%;
}

.sort-arrow {
    cursor: pointer;
}

.sort-header {
    margin: 0 .5% 0 1%;
}

.advertisements-filter {
    margin: 5% 0 0 3%;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
}

.advertisements-item {
    border-radius: 10%;
    width: 14vw;
    height: 26vh;
    margin: 3%;
    background: #a9cbcb;
    display: flex;
    align-items: flex-start;
    transform-style: preserve-3d;
    transition: 2s ease;
    justify-content: left;
}

#box:hover {
    border: 2px solid black;
    cursor: pointer;
}

.advertisements-item:hover {
    transform: rotateY(180deg) scale(1.2);
    z-index: 1;
}

.front,
.back {
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
    color: black;
    padding: 2%;
    display: flex;
    height: 100%;
    align-items: center;
}

.front-item {
    flex: 1;
}

#advertisement-image-id {
    float: left;
    margin: 3%;
    border-radius: 50%;
    overflow: hidden;
}

.front-item-text {
    line-height: 190%;
    margin-left: 3%;
}

.user-price {
    margin-top: 7%;
}

.rating {
    position: absolute;
    left: 70%;
    bottom: 0;
}

.user-name {
    margin-top: 3%;
    font-weight: bold;
    font-size: 110%;
}

.ad-modal-master {
    display: flex;
    flex-direction: column;
}

.ad-modal-profile {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4%;
}

.ad-modal-info {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 13vh;
}

.ad-modal-chores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 23vh;
}

.my-modal-footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.delete-modal-footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.selected {
    color: #fff700;
}

.unselected {
    color: #888;
}

.mailbox-master {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.inbox,
.outbox {
    overflow: auto;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 30vh;
}

.inbox-button {
    text-align: right;
    padding: 0 2vh;
}

.inbox td,
.outbox td {
    width: 20%;
}

.message-hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);;
}

.message-hover:hover {
    border: 1px solid black;
}

.message-header {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.answer-modal-header {
    width: 160%;
}

.feedback-stars {
    display: flex;
}

#map {
    height: 36vh;
    width: 23vw;
}

.leaflet-map {
    position: absolute;
    bottom: 11%;
    left: 3%;
}